:root{
    --navbg:rgb(255, 255, 255);
}
.Header-Wrap{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color:var(--navbg) ;
    box-shadow: 0px 0px 10px rgb(63, 63, 63);
}
.Header-Wrap .logo{
    margin-left: 10px;
    display: flex;
    height: 100%;
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;

}
.Header-Wrap .logo .logo-img{
    border-radius: 50%;
}
.nav-list{
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.nav-list ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 60%;
    justify-content: space-around;
}